# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/footer/dist
/footer/tmp
/footer/out-tsc
/footer/bazel-out

/header/dist
/header/tmp
/header/out-tsc
/header/bazel-out

/shell/dist
/shell/tmp
/shell/out-tsc
/shell/bazel-out

/mfe1/dist
/mfe1/tmp
/mfe1/out-tsc
/mfe1/bazel-out

# Node
/footer/node_modules
/footer/npm-debug.log
/footer/yarn-error.log

/header/node_modules
/header/npm-debug.log
/header/yarn-error.log

/shell/node_modules
/shell/npm-debug.log
/shell/yarn-error.log

/mfe1/node_modules
/mfe1/npm-debug.log
/mfe1/yarn-error.log

# IDEs and editors
/footer/.idea/
/footer/.project
/footer/.classpath
/footer/.c9/
/footer/*.launch
/footer/.settings/
/footer/*.sublime-workspace

/header/.idea/
/header/.project
/header/.classpath
/header/.c9/
/header/*.launch
/header/.settings/
/header/*.sublime-workspace

/shell/.idea/
/shell/.project
/shell/.classpath
/shell/.c9/
/shell/*.launch
/shell/.settings/
/shell/*.sublime-workspace

/mfe1/.idea/
/mfe1/.project
/mfe1/.classpath
/mfe1/.c9/
/mfe1/*.launch
/mfe1/.settings/
/mfe1/*.sublime-workspace

# Visual Studio Code
/footer/.vscode/*
!/footer/.vscode/settings.json
!/footer/.vscode/tasks.json
!/footer/.vscode/launch.json
!/footer/.vscode/extensions.json
/footer/.history/*

/header/.vscode/*
!/header/.vscode/settings.json
!/header/.vscode/tasks.json
!/header/.vscode/launch.json
!/header/.vscode/extensions.json
/header/.history/*

/shell/.vscode/*
!/shell/.vscode/settings.json
!/shell/.vscode/tasks.json
!/shell/.vscode/launch.json
!/shell/.vscode/extensions.json
/shell/.history/*

/mfe1/.vscode/*
!/mfe1/.vscode/settings.json
!/mfe1/.vscode/tasks.json
!/mfe1/.vscode/launch.json
!/mfe1/.vscode/extensions.json
/mfe1/.history/*

# Miscellaneous
/footer/.angular/cache
/footer/.sass-cache/
/footer/connect.lock
/footer/coverage
/footer/libpeerconnection.log
/footer/testem.log
/footer/

/header/.angular/cache
/header/.sass-cache/
/header/connect.lock
/header/coverage
/header/libpeerconnection.log
/header/testem.log
/header/typings

/shell/.angular/cache
/shell/.sass-cache/
/shell/connect.lock
/shell/coverage
/shell/libpeerconnection.log
/shell/testem.log
/shell/typings

/mfe1/.angular/cache
/mfe1/.sass-cache/
/mfe1/connect.lock
/mfe1/coverage
/mfe1/libpeerconnection.log
/mfe1/testem.log
/mfe1/typings

# System files
/footer/.DS_Store
/footer/Thumbs.db

/header/.DS_Store
/header/Thumbs.db

/shell/.DS_Store
/shell/Thumbs.db

/mfe1/.DS_Store
/mfe1/Thumbs.db