.products {
  &__wrapper {
    display: inline-flex;
    gap: .5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "photo code"
      "photo description";
    padding: .5rem 1rem;
    width: 33vw;
  }

  &__photo {
    grid-area: photo;
    width: 10rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    & img {
      height: 100%;
      width: auto;
      transition: transform .5s;
      &:hover {
        transform: scale(200%);
      }
    }
  }

  &__code {
    grid-area: code;
    padding-bottom: .5rem;
  }

  &__description {
    grid-area: description;
  }

  &__code,
  &__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    padding-left: .5rem;
  }
}
