.products {
  &__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__carrousel {
    display: inline-flex;
    gap: .5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "photo code"
      "photo description";
    padding: .5rem 1rem;
    width: 33vw;
  }

  &__photo {
    grid-area: photo;
    width: 10rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: transform .5s;
    &:hover {
      transform: scale(110%);
    }
    & img {
      height: 100%;
      width: auto;
      transition: transform .5s;
      &:hover {
        transform: scale(200%);
      }
    }
  }

  &__code {
    grid-area: code;
    padding-bottom: .5rem;
  }

  &__description {
    grid-area: description;
  }

  &__code,
  &__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    padding-left: .5rem;
  }

  &__navigation {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    aspect-ratio: 1 / 1;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    cursor: pointer;
    top: calc(50% - 1.125rem);

    &--right {
      right: 0;
      transform: scaleX(-1);
    }
  }

  &__arrow {
    width: 0;
    height: 0;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-right: 1rem solid whitesmoke;
    transform: translateX(-.1rem);
  }
}
